:root {
    --cor-primaria: #4A90E2;
    --cor-secundaria: #0c3d64;
    --cor-fundo: #F5F5F5;
    --cor-texto-claro: #ffffff;
    --cor-texto-escuro: #212529;
    --cor-destaque: #FF6B6B;
    --header-shadow: 0 12px 40px rgba(0,0,0,0.25), 0 4px 12px rgba(0,0,0,0.10);
    --transition: all 0.3s ease;
}

body {
    background-color: var(--cor-fundo);
    padding: 0;
    margin: 0;
}
.logo{
    height: 60px;
    width: 90px;
}
header { 
    background-color: var(--cor-secundaria) !important;
    box-shadow: var(--header-shadow) !important;
    
}

.search-form {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.form-control{
    border-radius: 20px;
    padding: 5px 20px;
    border: 1px solid var(--cor-primaria);
    transition: var(--transition);
}

.form-control:focus {
    border-color: var(--cor-primaria);
    box-shadow: 0 0 5px var(--cor-primaria);
    transition: var(--transition);
}
.search-btn {
    background-color: var(--cor-primaria);
    color: var(--cor-texto-claro);
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    transition: var(--transition);
}
.search-btn:hover {
    background-color: var(--cor-fundo);
    transition: var(--transition);
    box-shadow: 0 0 5px var(--cor-fundo);
}

.cart-btn {
    text-decoration: none;
    position: relative;
    color: var(--cor-texto-claro);
    font-size: 16px;
    padding: 0 10px;
    transition: var(--transition);
}
.cart-btn:hover {
    text-decoration: underline;
    transition: var(--transition);
}

.login-btn {
    text-decoration: none;
    position: relative;
    color: var(--cor-texto-claro);
    font-size: 16px;
    padding: 0 10px;
    transition: var(--transition);
}

.login-btn:hover {
    text-decoration: underline;
    transition: var(--transition);
}
.container {
    max-width: 1200px;
    padding: 0 15px;
}