:root{
    --cor-primaria: #4A90E2;
    --cor-secundaria: #0c3d64;
    --cor-fundo: #F5F5F5;
    --cor-texto: #ffffff;
    --cor-texto-body: #000000;
    --cor-texto-claro: #d8d8d8;
    --cor-borda: #E0E0E0;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-fundo) !important;
    color: var(--cor-texto-body)!important;
    margin: 0;
    padding: 0;
}
.cabecalho .navbar {
    background-color: var(--cor-secundaria) !important;
    padding: 15px 0;
    text-align: center;
    font-family: "Nunito", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.navbar-brand {
    color: var(--cor-texto) !important;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding: 0px !important;
}
.navbar-brand:hover {
    color: var(--cor-texto-claro) !important;
}
.nav-link{
    color: var(--cor-texto) !important;
    padding: 12px 16px;
}
.nav-link:hover {
    text-decoration: underline;
}

.nav-link{
    display: inline-flex !important;
    align-items: center;
    gap: .35rem;
}
.nav-link .bi{
    margin-right: 0; 
    vertical-align: -0.125em;
    font-size: 1.05em;
    color: #ffffff !important;
}
